@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "tailwindcss";

* {
    font-family: 'Roboto';
    
@theme {
  --color-primary: #3266da;
  --color-secondary: #82a5f3;
  --color-accent: #417af9;
  --color-background: #eff3fb;
}

}
::-webkit-scrollbar {
    width: 8px; /* Adjust width */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #6b7280; /* Gray-500 */
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #e5e7eb; /* Gray-300 */
  }